<div class="single-post">
  <div>
  <textarea>{{name}}</textarea>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  </div>
  <textarea>{{description}}</textarea>
  <p>
    <button class="btn btn-primary" data-id="{{id}}">Update Post</button>
  </p>
</div>